body{
    font-family: "Georgia", Times, serif;
    font-size: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:682px;
    background-image:url('http://cdn.shopify.com/s/files/1/0426/9209/articles/envia-y-recibe-mensajes-de-chat-dentro-de-hangouts-meet_1200x1200.jpg?v=1613404781');
}
.friendlist{
    text-align:center;
}
#container{
    padding-top: 30px;
    margin-left: 270px;
    font-family: "Georgia", Times, serif;
    font-size: 20px;
    text-align: center;
    width:600px;
    background:rgba(200,210,210,0.6);
    margin-top:100px;
    border-radius: 15px;
}
.name{
    margin-left: 45px;
}
.button{
    margin-left: 45px;
}
